<footer class="footer footer__actuality">
		<div class="footer__container grid">
			<div class="footer__data">
				<h2 class="footer__title">Generation Boomerang ©</h2>
				<ul>
					
					<li><a href="{{ path('about') }}" class="footer__link">Qui sommes-nous ?</a></li>
					<li><a href="{{ path('trombinoscope') }}" class="footer__link">Trombinoscope</a></li>
					<li><a href="{{ path('contact') }}" class="footer__link">Contactez nous</a></li>
					<li><a href="{{ path('faq') }}" class="footer__link">F.A.Q</a></li>
					<li><a href="{{ path('remarques') }}" class="footer__link">Remarques et suggestion</a></li>
					<li><a href="{{ path('condition') }}" class="footer__link">Conditions d'utilisations</a></li>
				</ul>
			</div>

			<div class="footer__data">
				<h2 class="footer__title">Explorer</h2>
				<ul>
					<li><a href="{{ path('main') }}" class="footer__link">Accueil</a></li>
					<li><a href="{{ path('articles') }}" class="footer__link">Articles</a></li>
					<li><a href="{{ path('experiences') }}" class="footer__link">Retours d'expérience</a></li>
					<li><a href="#" class="footer__link">Pôle d'activités</a></li>
					<li><a href="{{ path('partner') }}" class="footer__link">Nos partenaires</a></li>
				</ul>
			</div>

      <div class="footer__data">
                <h2 class="footer__title">Suivez-nous</h2>
                <div class="footer_logo_social">
                    <a href="#" class="footer__social footer__social-innovation"><i class='bx bxl-facebook' ></i></a>
                    <a href="#" class="footer__social footer__social-innovation"><i class='bx bxl-instagram' ></i></a>
                    <a href="#" class="footer__social footer__social-innovation"><i class='bx bxl-twitter' ></i></a>
                </div>
            </div>
      </div>
</footer>