{% extends 'base.html.twig' %}

{% block title %}
	{{ app.user.firstname}}
	{{ app.user.lastname}}
	• Generation Boomerang
{% endblock %}

{% block content %}

	<section class="article">
		<h1 class="section__title">Mes contacts</h1>
		<h3 class="section__subtitle">C'est dans cet espace que vous allez pouvoir voir vos contact en attente.</h3>  
		<div class="article__menu">
            <a href="{{ path('is_accept') }}" class="article__menu-back"><i class='bx bx-left-arrow-alt'></i><span>Ma liste</span></a>
			<a href="{{ path('contact_sending') }}" class="article__menu-back"><i class='bx bx-right-arrow-alt'></i>  <span>Mes demandes envoyées</span></a>
			</div>
		<div class="article__table-container">
			{% for friend in app.session.get('friends') %}
				{% if friend.user2.id is same as app.user.id %}
					{% if friend.active == 0 %}        
					         
					<div class="friend__table" id="{{ friend.user1.id }}">
						<div class="article__table-left">
							<div class="article__table-name" >
								<h3 class="article__name">{{ friend.user1.firstname }} {{friend.user1.lastname}}</h3>
							</div>
						</div>
						<div class="article__card-button">
							<a href="{{ path('profil', {id: friend.user1.id}) }}">voir sa page</a>
						</div>
						<div class="article__table-right">
						<figure>
							<img src="{{ asset('uploads/profiles/' ~ friend.user1.picture) }}" alt="{{ friend.user1.lastname }}" class="friend-pic"/>
						</figure>
                        </div>
                        <div class="button">
						<div class="addfriendbutton">
							<a href="{{ path('accept_friend', {id: friend.id}) }}"><i class='bx bx-edit-alt'></i>Accepter</a>
						</div>
						 <div class="article__table-delete">
                            <a href="{{ path('delete_friend', {id: friend.id}) }}" class="article__delete"><i class='bx bx-trash'></i>Supprimer </a>
						</div>
                        </div>
					</div>
				{% endif %}
				{% endif %}
			{% endfor %}
		</div>
	</section>

{% endblock %}
