{% extends 'base.html.twig' %}

{% block stylesheets %}
	{{ encore_entry_link_tags('script-chat') }}
{% endblock %}


{% block content %}
	<h1>Chat</h1>
	<div class="app-container" data-turbo='true' style="padding-top: 5rem;">
		<div class="app-left">
			<div class="app-left-header">
				<div class="app-logo">
					<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512">
						<defs/>
						<path class="path-1" fill="#3eb798" d="M448 193.108h-32v80c0 44.176-35.824 80-80 80H192v32c0 35.344 28.656 64 64 64h96l69.76 58.08c6.784 5.648 16.88 4.736 22.528-2.048A16.035 16.035 0 00448 494.868v-45.76c35.344 0 64-28.656 64-64v-128c0-35.344-28.656-64-64-64z" opacity=".4"/>
						<path class="path-2" fill="#3eb798" d="M320 1.108H64c-35.344 0-64 28.656-64 64v192c0 35.344 28.656 64 64 64v61.28c0 8.832 7.168 16 16 16a16 16 0 0010.4-3.84l85.6-73.44h144c35.344 0 64-28.656 64-64v-192c0-35.344-28.656-64-64-64zm-201.44 182.56a22.555 22.555 0 01-4.8 4 35.515 35.515 0 01-5.44 3.04 42.555 42.555 0 01-6.08 1.76 28.204 28.204 0 01-6.24.64c-17.68 0-32-14.32-32-32-.336-17.664 13.712-32.272 31.376-32.608 2.304-.048 4.608.16 6.864.608a42.555 42.555 0 016.08 1.76c1.936.8 3.76 1.808 5.44 3.04a27.78 27.78 0 014.8 3.84 32.028 32.028 0 019.44 23.36 31.935 31.935 0 01-9.44 22.56zm96 0a31.935 31.935 0 01-22.56 9.44c-2.08.24-4.16.24-6.24 0a42.555 42.555 0 01-6.08-1.76 35.515 35.515 0 01-5.44-3.04 29.053 29.053 0 01-4.96-4 32.006 32.006 0 01-9.28-23.2 27.13 27.13 0 010-6.24 42.555 42.555 0 011.76-6.08c.8-1.936 1.808-3.76 3.04-5.44a37.305 37.305 0 013.84-4.96 37.305 37.305 0 014.96-3.84 25.881 25.881 0 015.44-3.04 42.017 42.017 0 016.72-2.4c17.328-3.456 34.176 7.808 37.632 25.136.448 2.256.656 4.56.608 6.864 0 8.448-3.328 16.56-9.28 22.56h-.16zm96 0a22.555 22.555 0 01-4.8 4 35.515 35.515 0 01-5.44 3.04 42.555 42.555 0 01-6.08 1.76 28.204 28.204 0 01-6.24.64c-17.68 0-32-14.32-32-32-.336-17.664 13.712-32.272 31.376-32.608 2.304-.048 4.608.16 6.864.608a42.555 42.555 0 016.08 1.76c1.936.8 3.76 1.808 5.44 3.04a27.78 27.78 0 014.8 3.84 32.028 32.028 0 019.44 23.36 31.935 31.935 0 01-9.44 22.56z"/>
					</svg>
				</div>
				<h1>Messagerie</h1>
			</div>
			<div class="app-profile-box">
				<img src="{{ asset('uploads/profiles/' ~ app.user.picture) }}" alt="profile">
				<div class="app-profile-box-name">
					{{ app.user.firstname }}
					<button
						class="app-setting">{# <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-settings" viewbox="0 0 24 24">
																																																								<defs/>
																																																								<circle cx="12" cy="12" r="3"/>
																																																								<path d="M19.4 15a1.65 1.65 0 00.33 1.82l.06.06a2 2 0 010 2.83 2 2 0 01-2.83 0l-.06-.06a1.65 1.65 0 00-1.82-.33 1.65 1.65 0 00-1 1.51V21a2 2 0 01-2 2 2 2 0 01-2-2v-.09A1.65 1.65 0 009 19.4a1.65 1.65 0 00-1.82.33l-.06.06a2 2 0 01-2.83 0 2 2 0 010-2.83l.06-.06a1.65 1.65 0 00.33-1.82 1.65 1.65 0 00-1.51-1H3a2 2 0 01-2-2 2 2 0 012-2h.09A1.65 1.65 0 004.6 9a1.65 1.65 0 00-.33-1.82l-.06-.06a2 2 0 010-2.83 2 2 0 012.83 0l.06.06a1.65 1.65 0 001.82.33H9a1.65 1.65 0 001-1.51V3a2 2 0 012-2 2 2 0 012 2v.09a1.65 1.65 0 001 1.51 1.65 1.65 0 001.82-.33l.06-.06a2 2 0 012.83 0 2 2 0 010 2.83l-.06.06a1.65 1.65 0 00-.33 1.82V9a1.65 1.65 0 001.51 1H21a2 2 0 012 2 2 2 0 01-2 2h-.09a1.65 1.65 0 00-1.51 1z"/>
																																																							</svg> #}
					</button>
				</div>
				<p class="app-profile-box-title">{{ app.user.metier }}</p>
				<div class="switch-status">
					<input type="checkbox" name="switchStatus" id="switchStatus" checked>
					<label class="label-toggle" for="switchStatus"></label>
					<span class="toggle-text toggle-online">Online</span>
					<span class="toggle-text toggle-offline">Offline</span>
				</div>
			</div>
			
			
			<div class="chat-list-wrapper" data-turbo="false">
				<div class="chat-list-header">Active Conversations
					<span class="c-number">{{ convUserLists|length }}</span>
					<svg class="list-header-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="feather feather-chevron-up" viewbox="0 0 24 24">
						<defs/>
						<path d="M18 15l-6-6-6 6"/>
					</svg>
				</div>
				<ul class="chat-list active">
					{% for user in convUserLists %}
						<li class="chat-list-item active">
							<a href="{{ path('app_chat_create', {'userId': user.id}) }}">
								<img src="{{ asset('uploads/profiles/' ~ user.picture) }}" alt="chat">
								<span class="chat-list-name">{{user.firstname ~ ' ' ~ user.lastname}}</span>
							</a>
						</li>
					{% endfor %}
				</ul>
			</div>
			<div class="chat-list-wrapper" data-turbo="false">
				<div class="chat-list-header active">Liste d'amis
					<span class="c-number">{{app.session.get('totalfriends')}}</span>
					<svg class="list-header-arrow" xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="3" class="feather feather-chevron-up" viewbox="0 0 24 24">
						<defs/>
						<path d="M18 15l-6-6-6 6"/>
					</svg>
				</div>
				{% if app.user %}
					<ul class="chat-list">
						{% for friend in app.session.get('friends') %}
							{% if friend.user1.id is same as app.user.id and friend.active == 1  %}
								<li class="chat-list-item">
									<a href="{{ path('app_chat_create', {'userId': friend.user2.id}) }}">
										<img src="{{ asset('uploads/profiles/' ~ friend.user2.picture) }}" alt="{{ friend.user2.lastname }}" class="friend-pic"/>
										<span class="chat-list-name">{{ friend.user2.firstname }}
											{{friend.user2.lastname}}</span>
									</a>
								</li>
							{% elseif friend.user2.id is same as app.user.id and friend.active == 1 %}
								<li class="chat-list-item">
									<a href="{{ path('app_chat_create', {'userId': friend.user1.id}) }}">
										<img src="{{ asset('uploads/profiles/' ~ friend.user1.picture) }}" alt="{{ friend.user1.lastname }}" class="friend-pic"/>
										<span class="chat-list-name">{{ friend.user1.firstname }}
											{{friend.user1.lastname}}</span>
									</a>
								</li>
							{% endif %}
						{% endfor %}
					</ul>
				</div>
				{% else %}
			{% endif %}

			<div class="chat-list-wrapper" data-turbo="false">
				
                <video id="emitter-video" width="100%" height="120px" muted="muted"></video>
                {# <p>
                    <button id="receive" class="btn btn-primary" >Démarrer la conversation</button>
                </p> #}
				<form id="incoming">
                    <div class="form-group">
                        <input id='offer-register'
						 type='hidden'
						  cols="30" rows="10" class="form-control"></input>
                    </div>
                    <p>
                        <button class='btn btn-danger invisible' id='offer-submit-button' type="submit">Enregistrer l'offre</button>
                    </p>
                </form>
                
			</div>
		</div>

		{% if (is_granted('ROLE_USER') and ((app.user.id == chat.users[0].id) or (app.user.id == chat.users[1].id) )) %}
			<div class="app-main">
				<div class="chat-wrapper overflow-auto" data-controller="scroll">
					<div id="turboscript" data-controller="message" data-message-url-value="{{CurrentUrl}}" data-message-app-user-value="{{ app.user.id }}">
					{# <div id="turboscript" data-controller="message" data-message-url-value="{{CurrentUrl}}" data-message-urls-value="{{ mercure( CurrentUrl , { subscribe: CurrentUrl })|escape('js') }}" data-message-app-user-value="{{ app.user.id }}"> #}

						{# <div id="messages" {{ turbo_stream_listen(CurrentUrl) }}>  #}
						{% for message in chat.messages %}
							{% if message.fromId == app.user.id %}
								{# {% if message.fromId == chat.users[1].id %} #}
								
								<div class="message-wrapper">
									<img class="message-pp" src="{{ asset('uploads/profiles/' ~ app.user.picture) }}" alt="profile-pic">
									{# <img class="message-pp" src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&ixlib=rb-1.2.1&auto=format&fit=crop&w=2550&q=80" alt="profile-pic"> #}
									{# <span class="message-pp">{{ chat.users[1].firstname}}</span> #}

								{% else %}
									<div class="message-wrapper reverse">
										<img class="message-pp" src="{{ asset('uploads/profiles/' ~ toUser[0].picture) }}" alt="profile-pic">
									{# <img class="message-pp" src="https://images.unsplash.com/photo-1587080266227-677cc2a4e76e?ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&amp;ixlib=rb-1.2.1&amp;auto=format&amp;fit=crop&amp;w=934&amp;q=80" alt="profile-pic"> #}
										{# <span class="message-pp">{{ chat.users[0].firstname}}</span> #}
									{% endif %}
									<div class="message-box-wrapper">
										<div class="message-box">
											{% if message.attachments is defined %}
												{% for attach in message.attachments %}
													<a href="{{ asset('/uploads/message/' ~ attach.url) }}" target="blank">
														<embed src="{{ asset('/uploads/message/' ~ attach.url) }}" alt="" width="300">
													</a>
													<br>
												{% endfor %}
											{% endif %}

											{{message.content}}</div>
										<span>{{message.createdAt|date('H:i')}}</span>
									</div>
								</div>

							{% endfor %}

						</div>
						<input id="app_user_id" class="invisible" value="{{app.user.id}}"></input>
					{# <div class="invisible" data-turbo-stream-target="appuserid" >{{app.user.id}}</div> #}
					{# <div id="scroll_message"></div> #}
				</div>


				<turbo-frame
					id="message_form" class="chat-input-wrapper">
					{# <ul id="emoji-list" style="display: none; flex-position: row-reverse;" data-emojis-target="emoji-list">
																																								<li>😀</li>
																																								<li>😃</li>
																																								<li>😄</li>
																																								<li>😁</li>
																																								<li>😆</li>
																																								<li>😅</li>
																																								<li>🤣</li>
																																								<li>😂</li>
																																							</ul> #}

					{{ form_start(form) }}
					<label id="message_attachments">
						{{ form_widget(form.attachments) }}
						<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-paperclip" viewbox="0 0 24 24">
							<defs/>
							<path d="M21.44 11.05l-9.19 9.19a6 6 0 01-8.49-8.49l9.19-9.19a4 4 0 015.66 5.66l-9.2 9.19a2 2 0 01-2.83-2.83l8.49-8.48"/>
						</svg>
					</label>

					<div class="input-wrapper">
						{{ form_widget(form.content) }}

						<button type="button" class="emoji-btn" id="emoji-btn" data-controller="emojis" data-action="click->emoji#toggleEmoji-list">
							<svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-smile" viewbox="0 0 24 24">
								<defs/>
								<circle cx="12" cy="12" r="10"/>
								<path d="M8 14s1.5 2 4 2 4-2 4-2M9 9h.01M15 9h.01"/>
							</svg>
						</button>

					</div>
					<button class="chat-send-btn">Envoyer</button>
					{{ form_end(form) }}
				</turbo-frame>

				{% if app.user == chat.users[0] %}
					{% set x = 1 %}
				{% else %}
					{% set x = 0 %}
				{% endif %}

						<p>
							<button id="receive" class="btn btn-primary" >Démarrer la Webcam</button>
							<button class="btn btn-danger
							invisible
							" id="start">Accepter la Webcam</button>
						</p>


			</div>
			<div class="app-right">
				<div class="app-profile-box">
					<img src="{{ asset('uploads/profiles/' ~ chat.users[x].picture) }}" alt="profile">
					<p class="app-profile-box-title">{{ chat.users[x].metier }}</p>
					<p class="app-profile-box-title name">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-user">
							<path d="M20 21v-2a4 4 0 0 0-4-4H8a4 4 0 0 0-4 4v2"/>
							<circle cx="12" cy="7" r="4"/>

						</svg>
						{{ chat.users[x].firstname ~ ' ' ~ chat.users[x].lastname}}</p>
					<p class="app-profile-box-title mail">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewbox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-mail">
							<path d="M4 4h16c1.1 0 2 .9 2 2v12c0 1.1-.9 2-2 2H4c-1.1 0-2-.9-2-2V6c0-1.1.9-2 2-2z"/>
							<polyline points="22,6 12,13 2,6"/>
						</svg>
						{{ chat.users[x].email }}</p>
					{# <button class="archive-btn">Archive<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="feather feather-archive" viewbox="0 0 24 24">
																																														<defs/>
																																														<path d="M21 8v13H3V8M1 3h22v5H1zM10 12h4"/>
								
																																										</svg>
																																												</button> #}
				</div>
					<div class="chat-list-wrapper" data-turbo="false">
						<video id="receiver-video" width="100%" height="300px" ></video>
						{# <p>
							<button id="receive" class="btn btn-primary" >Démarrer la Webcam</button>
							<button class="btn btn-danger
							invisible
							" id="start">Accepter la Webcam</button>
						</p> #}
						<input 
						type='hidden'
						 id="offer" cols="30" rows="10" class="form-control"></input>
					</div>
				<div class="app-right-bottom">
					<div class="app-theme-selector">
						<button class="theme-color indigo" data-color="indigo">
							<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512" title="Indigo">
								<defs/>
								<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
							</svg>
						</button>
						<button class="theme-color pink" data-color="pink" title="Pink">
							<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
								<defs/>
								<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
							</svg>
						</button>
						<button class="theme-color navy-dark active" data-color="navy-dark" title="Navy Dark">
							<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
								<defs/>
								<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
							</svg>
						</button>
						<button class="theme-color dark" data-color="dark" title="Dark">
							<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
								<defs/>
								<path fill="currentColor" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
							</svg>
						</button>
					</div>
				</div>
			</div>
			<div class="app-right-bottom">
				<div class="app-theme-selector">
					<button class="theme-color indigo" data-color="indigo">
						<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512" title="Indigo">
							<defs/>
							<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
						</svg>
					</button>
					<button class="theme-color pink" data-color="pink" title="Pink">
						<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
							<defs/>
							<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
						</svg>
					</button>
					<button class="theme-color navy-dark active" data-color="navy-dark" title="Navy Dark">
						<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
							<defs/>
							<path fill="#fff" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
						</svg>
					</button>
					<button class="theme-color dark" data-color="dark" title="Dark">
						<svg xmlns="http://www.w3.org/2000/svg" width="512" height="512" viewbox="0 0 512 512">
							<defs/>
							<path fill="currentColor" d="M451.648.356c-25.777 2.712-56.79 19.872-94.811 52.46-68.786 58.958-149.927 160.756-202.185 234-38.158-5.951-78.375 10.368-102.187 40.133C8.758 381.584 45.347 430.34 4.12 473.811c-7.179 7.569-4.618 20.005 4.98 24.114 67.447 28.876 153.664 10.879 194.109-31.768 24.718-26.063 38.167-64.54 31.411-100.762 72.281-55.462 172.147-140.956 228.7-211.885 31.316-39.277 47.208-70.872 48.584-96.59C513.759 22.273 486.87-3.346 451.648.356zM181.443 445.511c-27.362 28.85-87.899 45.654-141.767 31.287 30.12-48.043 4.229-91.124 36.214-131.106 26.246-32.808 79.034-41.993 109.709-11.317 35.839 35.843 19.145 86.566-4.156 111.136zm3.07-148.841c7.354-10.167 18.887-25.865 33.29-44.659l49.22 49.224c-18.125 14.906-33.263 26.86-43.077 34.494-8.842-15.879-22.526-30.108-39.433-39.059zM481.948 55.316c-3.368 63.004-143.842 186.021-191.797 226.621l-53.785-53.79c39.458-49.96 155.261-191.312 218.422-197.954 16.851-1.775 28.03 8.858 27.16 25.123z"/>
						</svg>
					</button>
				</div>
			</div>
		</div>

		<audio id="ringtone" preload="auto">
		<source src="{{ asset('uploads/message/ringtone.mp3') }}" type="audio/ogg" />
		</audio>


	{% endif %}
{% endblock %}
{% block JavaScript %}
	{{ parent() }}
	{{ encore_entry_script_tags('script-chat') }}
	<script src='https://cdnjs.cloudflare.com/ajax/libs/simple-peer/9.11.1/simplepeer.min.js'></script>
	<script>
				let p = null

			function bindEvents(p) {

				p.on('error', function(err) {
					console.log('error', err);
				})
				p.on('signal', function(data) {
					if(document.querySelector('#offer').textContent == ''){
					document.querySelector('#offer').textContent = JSON.stringify(data)

					 fetch('/chat/{{chat.id}}', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								offer: data
							})
					})}
				})
				p.on('stream', function (stream) {
					let video = document.querySelector('#receiver-video')
					video.srcObject = stream
					// console.log(video.srcObject);
					video.play()
				})

				
				// document.querySelector('#incoming').addEventListener('submit', function (e) {
				//     e.preventDefault()
				//     p.signal(JSON.parse(e.target.querySelector('textarea').value))
				// })

			}

			function startPeer (initiator) {
				navigator.mediaDevices.getUserMedia({
					video: true,
					audio: true
				})
				.then(function(stream) {
					p = new SimplePeer({
						initiator: initiator,
						stream: stream,
						trickle: false,
						config: {
							iceServers: [
							{ urls: 'stun:stun.l.google.com:19302' },

							{ urls: 'turn:turn.google.com:19305?transport=udp', username: 'your_username', credential: 'your_password' },
							{ urls: 'turn:turn.google.com:19305?transport=tcp', username: 'your_username', credential: 'your_password' }
							]
						}
						//,config {serveur stun et turn}
					})
					bindEvents(p)
					let emitterVideo = document.querySelector('#emitter-video')
					
					// debugger
					emitterVideo.srcObject = stream
					 // console.log(emitterVideo.srcObject);
					emitterVideo.play()
				})
				.catch(function(error) {
					console.log("Erreur lors de l'accès aux périphériques multimédias: " + error.message);
				})  
			}

			document.querySelector('#start').addEventListener('click', function(e) {
				startPeer(true)
				document.querySelector('#start').textContent = 'Veuillez Patienter ...'
				ringtone.pause()
				 

			})
			document.querySelector('#receive').addEventListener('click', function(e) {
				startPeer(false)
				 fetch('/chat/{{chat.id}}', {
							method: 'POST',
							headers: {
								'Content-Type': 'application/json'
							},
							body: JSON.stringify({
								startWebcam: true
							})
					})

			})

			document.querySelector('#incoming').addEventListener('submit', function (e) {
				e.preventDefault()
				if (p == null) {
						p = new SimplePeer ({
						initiator: false,
						trickle: false
					})
				}   
				bindEvents(p)
				p.signal(JSON.parse(e.target.querySelector('input').value))
			})





	</script>
		
{% endblock %}