{% extends 'base.html.twig' %}

{% block title %}
	{{ user.firstname }}
	{{ user.lastname }}
	• Generation Boomerang
{% endblock %}

{% block content %}
	<section class="profil-profil profil-section">
		<div class="profil-container">
			<ul class="profil-cards">
				<li class="profil-card">
					<div class="profil__card-content">
						<div>
							<h2 class="profil__card-title">{{ user.bio }}</h2>
							<div class="infos-container">
								<div class="profil-card-preview">
									{% if user.metier is same as null %}
										{% else %}
											<p>Métier :
												{{user.metier}}</p>
									{% endif %}
									{% if user.situation is same as null %}
										{% else %}
											<p>Situation :
												{{ user.situation }}</p>
									{% endif %}
									{% if user.ville is same as null %}
										{% else %}
											<p>Ville :
												{{ user.ville }}</p>
									{% endif %}
									{% if user.caractere is same as null %}
										{% else %}
											<p>Caractère :
												{{ user.caractere }}</p>
									{% endif %}
									{% if user.interet is same as null %}
										{% else %}
											<p>Centre d'interet :
												{{ user.interet }}</p>
									{% endif %}
								</div>

								<div class="profil-card-preview2">
									{% if user.objectif is same as null %}
										{% else %}
											<p>Objectifs :
												{{ user.objectif }}</p>
									{% endif %}
									{% if user.insight is same as null %}
										{% else %}
											<p>Insight :
												{{ user.insight }}</p>
									{% endif %}
								</div>
							</div>
						</div>
						<figure class="profil-img">
							<img src="{{ asset('uploads/profiles/' ~ user.picture)}}" alt="image de profil"/>
							<figcaption>{{ user.firstname }}
								<br>
								{{ user.lastname }}</figcaption>
						</figure>
					</div>
				</li>
			</ul>
		</div>
	</section>


	<div class="profil__social">
		{% if user.facebook != null %}
			<a href="https://www.facebook.com/{{ user.facebook }}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-facebook'></i>
			</a>
		{% endif %}
		{% if user.instagram != null %}
			<a href="https://www.instagram.com/{{ user.instagram}}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-instagram'></i>
			</a>
		{% endif %}
		{% if user.twitter != null %}
			<a href="https://twitter.com/{{ user.twitter }}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-twitter'></i>
			</a>
		{% endif %}
		{% if user.linkedin != null %}
			<a href="https://www.linkedin.com/{{ user.linkedin }}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-linkedin'></i>
			</a>
		{% endif %}
		{% if user.pinterest != null %}
			<a href="https://www.pinterest.fr/{{ user.pinterest }}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-pinterest'></i>
			</a>
		{% endif %}
		{% if user.youtube != null %}
			<a href="https://www.youtube.com/channel/{{ user.youtube }}" class="profil__social-icon" target="_blank">
				<i class='bx bxl-youtube'></i>
			</a>
		{% endif %}
	</div>
</div>

<div class="profil__content">
	<div class="profil__menu">
		<div id="article" class="profil__article">
			<a href="#Article">
				<h5 class="profil__menu-icon">
					<i class='bx bx-news'></i>
				</h5>
			</a>
		</div>
		<div id="experience" class="profil__experience">
			<a href="#Experience">
				<h5 class="profil__menu-icon">
					<i class='bx bx-comment-detail bx-flip-horizontal'></i>
				</h5>
			</a>
		</div>
		<div id="like" class="profil__like">
			<a href="#Like">
				<h5 class="profil__menu-icon">
					<i class='bx bx-heart'></i>
				</h5>
			</a>
		</div>
	</div>
</div>

<div id="Article" class="profil__content profil__container-content">
	<div class="article__container">
		{% if user.articles|length == null %}
			<h1 class="section__title">Les articles</h1>
			<h3 class="section__subtitle">{{ user.firstname }}
				n'a pas encore écrit d'article.</h3>
		{% else %}
			<h1 class="section__title">Les articles</h1>
			<h3 class="section__subtitle">Retrouvez tout les articles écrit par
				{{ user.firstname }}.</h3>
			<ul class="article__save-cards">
				{% for article in user.articles %}
					<li class="article__card">
						<div class="article__card-content">
							<div>
								<span class="article__card-category">
									<i class='bx bx-purchase-tag'></i>
									{{
                            article.categories.name }}</span>
								<span class="article__card-author">écrit par
									<a href="{{ path('profil', {id: article.users.id}) }}">{{ article.users.firstname }}
										{{
                                article.users.lastname }}</a>
								</span>
								<h2 class="article__card-title">
									<a href="{{ path('article', {slug: article.slug}) }}">{{
                                article.title }}</a>
								</h2>
								<p class="article__card-preview">{{ article.content|u.truncate(0, '...')|raw }}</p>
								<div class="article__card-button">
									<a href="{{ path('article', {slug: article.slug}) }}">Lire l'article</a>
								</div>
								<div class="article__card-reaction">
									<a href="{{ path('article_like', {id: article.id}) }}" class="article__reaction-button article__reaction-like">
										{% if app.user and article.isLikedByUser(app.user) %}
											<i class='bx bxs-heart'></i>
										{% else %}
											<i class='bx bx-heart bx-tada'></i>
										{% endif %}
										<span class="article__reaction-likeNumber">{{ article.likes | length }}</span>
									</a>
									<a href="{{ path('article', {slug: article.slug}) }}#comment__new" class="article__reaction-button">
										<i class='bx bx-comment-dots'></i>
										<span>{{ article.comments | length }}</span>
									</a>
									<a href="{{ path('article_save', {id: article.id}) }}" class="article__reaction-button article__reaction-save">
										{% if app.user and article.isSavedByUser(app.user) %}
											<i class='bx bxs-bookmark'></i>
										{% else %}
											<i class='bx bx-bookmark'></i>
										{% endif %}
										<span class="article__reaction-saveNumber">{{ article.saves | length }}</span>
									</a>
									<a href="" class="article__reaction-button">
										<i class='bx bx-share-alt'></i>
									</a>
								</div>
							</div>
							{% if article.illustrations is empty %}
								<figure>
									<img src="{{ asset('uploads/profiles/default.jpg') }}" alt="{{ article.title }}"/>
								</figure>
							{% else %}
								<figure>
									<img src="{{ asset('uploads/articles/' ~ article.illustrations[0].name) }}" alt="{{ article.title }}"/>
								</figure>
							{% endif %}
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
<div id="Experience" class="profil__content profil__container-content">
	<div class="article__container">
		{% if user.experiences|length == null %}
			<h1 class="section__title">Les retours d'expérience</h1>
			<h3 class="section__subtitle">{{ user.firstname }}
				n'a pas encore écrit de retour d'expérience.</h3>
		{% else %}
			<h1 class="section__title">Les retours d'expérience</h1>
			<h3 class="section__subtitle">Retrouvez tout les retours d'expérience écrit par
				{{ user.firstname }}.</h3>
			<ul class="article__save-cards">
				{% for experience in user.experiences %}
					<li class="article__card">
						<div class="article__card-content">
							<div>
								<span class="article__card-category">
									<i class='bx bx-purchase-tag'></i>
									{{
                            experience.article.title }}</span>
								<span class="article__card-author">écrit par
									<a href="{{ path('profil', {id: experience.user.id}) }}">{{ experience.user.firstname }}
										{{
                                experience.user.lastname }}</a>
								</span>
								<h2 class="article__card-title">
									<a href="{{ path('experience', {slug: experience.slug}) }}">{{
                                experience.title }}</a>
								</h2>
								<p class="article__card-preview">{{ experience.content|u.truncate(0, '...')|raw }}</p>
								<div class="article__card-button">
									<a href="{{ path('experience', {slug: experience.slug}) }}">Lire le retour
										<br>d'expérience</a>
								</div>
								<div class="article__card-reaction">
									<a href="{{ path('experience_like', {id: experience.id}) }}" class="article__reaction-button article__reaction-like">
										{% if app.user and experience.isLikedByUser(app.user) %}
											<i class='bx bxs-heart'></i>
										{% else %}
											<i class='bx bx-heart bx-tada'></i>
										{% endif %}
										<span class="article__reaction-likeNumber">{{ experience.likes | length }}</span>
									</a>
									<a href="{{ path('experience', {slug: experience.slug}) }}#comment__new" class="article__reaction-button">
										<i class='bx bx-comment-dots'></i>
										<span>{{ experience.comments | length }}</span>
									</a>
									<a href="{{ path('experience_save', {id: experience.id}) }}" class="article__reaction-button article__reaction-save">
										{% if app.user and experience.isSavedByUser(app.user) %}
											<i class='bx bxs-bookmark'></i>
										{% else %}
											<i class='bx bx-bookmark'></i>
										{% endif %}
										<span class="article__reaction-saveNumber">{{ experience.saves | length }}</span>
									</a>
									<a href="" class="article__reaction-button">
										<i class='bx bx-share-alt'></i>
									</a>
								</div>
							</div>
							<figure>
								<img src="{{ asset('uploads/experiences/' ~ experience.illustrations[0].name) }}" alt="{{ experience.title }}"/>
							</figure>
						</div>
					</li>
				{% endfor %}
			</ul>
		{% endif %}
	</div>
</div>
<div id="Like" class="profil__content profil__container-content">
	<div class="article__container">
		<h1 class="section__title-icon">
			<i class='bx bx-happy-heart-eyes'></i>
		</h1>
		<h3 class="section__subtitle">Retrouvez tout les articles et retours d'ecpérience aimés par
			{{ user.firstname
            }}.</h3>
		<ul class="article__save-cards">
			{% for article in user.likes %}
				<li class="article__card">
					<div class="article__card-content">
						<div>
							<span class="article__card-category">
								<i class='bx bx-purchase-tag'></i>
								{{
                            article.article.categories.name }}</span>
							<span class="article__card-author">écrit par
								<a href="{{ path('profil', {id: article.article.users.id}) }}">{{
                                article.article.users.firstname }}
									{{ article.article.users.lastname }}</a>
							</span>
							<h2 class="article__card-title">
								<a href="{{ path('article', {slug: article.article.slug}) }}">{{
                                article.article.title }}</a>
							</h2>
							<p class="article__card-preview">{{ article.article.content|u.truncate(0, '...')|raw }}</p>
							<div class="article__card-button">
								<a href="{{ path('article', {slug: article.article.slug}) }}">Lire l'article</a>
							</div>
							<div class="article__card-reaction">
								<a href="{{ path('article_like', {id: article.article.id}) }}" class="article__reaction-button article__reaction-like">
									{% if app.user and article.article.isLikedByUser(app.user) %}
										<i class='bx bxs-heart'></i>
									{% else %}
										<i class='bx bx-heart bx-tada'></i>
									{% endif %}
									<span class="article__reaction-likeNumber">{{ article.article.likes | length }}</span>
								</a>
								<a href="{{ path('article', {slug: article.article.slug}) }}#comment__new" class="article__reaction-button">
									<i class='bx bx-comment-dots'></i>
									<span>{{ article.article.comments | length }}</span>
								</a>
								<a href="{{ path('article_save', {id: article.article.id}) }}" class="article__reaction-button article__reaction-save">
									{% if app.user and article.article.isSavedByUser(app.user) %}
										<i class='bx bxs-bookmark'></i>
									{% else %}
										<i class='bx bx-bookmark'></i>
									{% endif %}
									<span class="article__reaction-saveNumber">{{ article.article.saves | length }}</span>
								</a>
								<a href="" class="article__reaction-button">
									<i class='bx bx-share-alt'></i>
								</a>
							</div>
						</div>
						<figure>
							<img src="{{ asset('uploads/articles/' ~ article.article.illustrations[0].name) }}" alt="{{ article.article.title }}"/>
						</figure>
					</div>
				</li>
			{% endfor %}
			{% for experience in user.expLikes%}
				<li class="article__card">
					<div class="article__card-content">
						<div>
							<span class="article__card-category">
								<i class='bx bx-purchase-tag'></i>
								{{
                            experience.experience.article.title }}</span>
							<span class="article__card-author">écrit par
								<a href="{{ path('profil', {id: experience.experience.user.id}) }}">{{
                                experience.experience.user.firstname }}
									{{ experience.experience.user.lastname
                                }}</a>
							</span>
							<h2 class="article__card-title">
								<a href="{{ path('experience', {slug: experience.experience.slug}) }}">{{
                                experience.experience.title }}</a>
							</h2>
							<p class="article__card-preview">{{ experience.experience.content|u.truncate(0, '...')|raw }}
							</p>
							<div class="article__card-button">
								<a href="{{ path('experience', {slug: experience.experience.slug}) }}">Lire le retour
									<br>d'expérience</a>
							</div>
							<div class="article__card-reaction">
								<a href="{{ path('experience_like', {id: experience.experience.id}) }}" class="article__reaction-button article__reaction-like">
									{% if app.user and experience.experience.isLikedByUser(app.user) %}
										<i class='bx bxs-heart'></i>
									{% else %}
										<i class='bx bx-heart bx-tada'></i>
									{% endif %}
									<span class="article__reaction-likeNumber">{{ experience.experience.likes | length
                                    }}</span>
								</a>
								<a href="{{ path('experience', {slug: experience.experience.slug}) }}#comment__new" class="article__reaction-button">
									<i class='bx bx-comment-dots'></i>
									<span>{{ experience.experience.comments | length }}</span>
								</a>
								<a href="{{ path('experience_save', {id: experience.experience.id}) }}" class="article__reaction-button article__reaction-save">
									{% if app.user and experience.experience.isSavedByUser(app.user) %}
										<i class='bx bxs-bookmark'></i>
									{% else %}
										<i class='bx bx-bookmark'></i>
									{% endif %}
									<span class="article__reaction-saveNumber">{{ experience.experience.saves | length
                                    }}</span>
								</a>
								<a href="" class="article__reaction-button">
									<i class='bx bx-share-alt'></i>
								</a>
							</div>
						</div>
						<figure>
							<img src="{{ asset('uploads/experiences/' ~ experience.experience.illustrations[0].name) }}" alt="{{ experience.experience.title }}"/>
						</figure>
					</div>
				</li>
			{% endfor %}
		</ul>
	</div>
</div></section>{% endblock %}{% block JavaScript %}<script src="https://unpkg.com/scrollreveal"></script><script src="https://unpkg.com/axios/dist/axios.min.js"></script><script>
function openTab(tabName) {
let i;
let tabContent;

tabContent = document.getElementsByClassName("profil__container-content");

for (i = 0; i < tabContent.length; i++) {
tabContent[i].style.display = "none";
}

document.getElementById(tabName).style.display = "flex";
}

let articleEl = document.getElementById("article");
let experienceEl = document.getElementById("experience");
let likeEl = document.getElementById("like");

articleEl.addEventListener("click", function () {
openTab("Article")
}, false);
experienceEl.addEventListener("click", function () {
openTab("Experience")
}, false);
likeEl.addEventListener("click", function () {
openTab("Like")
}, false);


function onClickBtnLike(event) {
event.preventDefault();

const url = this.href;
const likeCount = this.querySelector('span.article__reaction-likeNumber');
const icon = this.querySelector('i');

axios.get(url).then(function (response) {
likeCount.textContent = response.data.likes;

if (icon.classList.contains('bxs-heart')) {
icon.classList.replace('bxs-heart', 'bx-heart');
} else {
icon.classList.replace('bx-heart', 'bxs-heart');
}
}).catch(function (error) {
if (error.response.status === 403) {
window.alert("Vous ne pouvez pas aimer un article si vous n'êtes pas connecté.");
} else {
window.alert("Une erreur s'est produite, réessayer ultérieurement.");
}
});
}
document.querySelectorAll('a.article__reaction-like').forEach(function (link) {
link.addEventListener('click', onClickBtnLike)
});

function onClickBtnSave(event) {
event.preventDefault();

const url = this.href;
const saveCount = this.querySelector('span.article__reaction-saveNumber');
const icon = this.querySelector('i');

axios.get(url).then(function (response) {
saveCount.textContent = response.data.saves;

if (icon.classList.contains('bxs-bookmark')) {
icon.classList.replace('bxs-bookmark', 'bx-bookmark');
} else {
icon.classList.replace('bx-bookmark', 'bxs-bookmark');
}
}).catch(function (error) {
if (error.response.status === 403) {
window.alert("Vous ne pouvez pas sauvegarder un article si vous n'êtes pas connecté.");
} else {
window.alert("Une erreur s'est produite, réessayer ultérieurement.");
}
});
}
document.querySelectorAll('a.article__reaction-save').forEach(function (link) {
link.addEventListener('click', onClickBtnSave)
});</script>{% endblock %}
