{% extends 'admin.html.twig' %}

{% block title %}Ajouter un abonnement • Generation Boomerang{% endblock %}

{% block content %}
    <section class="category">
        <h1 class="section__title">Ajouter un abonnement</h1>
        <h3 class="section__subtitle">C'est dans cet espace que vous allez pouvoir ajouter un nouvel abonnement.</h3>

        <div class="article__menu">
            <a href="{{ path('admin_product') }}" class="article__menu-back"><i class='bx bx-arrow-back' ></i> <span>retour aux abonnements</span></a>
        </div>

        <div class="category__container">
            <div class="category__add-form">
                {{ form_start(form) }}

                <div class="form">
                    <i class='bx bx-edit-alt' ></i>
                    {{ form_widget(form.name) }}
                </div>

                <div class="form">
                    <i class='bx bx-message-square-edit bx-flip-horizontal' ></i>
                    {{ form_widget(form.subtitle) }}
                </div>

                <div class="form faq__form-content">
                    <i class='bx bx-text'></i>
                    {{ form_widget(form.description) }}
                </div>

                <div class="form">
                    <i class='bx bx-image' ></i>
                    {{ form_widget(form.illustration) }}
                </div>

                <div class="form">
                    <i class='bx bx-euro' ></i>
                    {{ form_widget(form.price) }}
                </div>

                <button class="article__form-button" type="submit">Ajouter</button>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

