{% extends 'base.html.twig' %}

{% block title %}{{ purposes.name }} • Generation Boomerang{% endblock %}

{% block content %}
<section class="account">
    <h1 class="section__title">{{purposes.name}}</h1>
    <div class="article__container">
        <div class="article__top-title">
        
            <h1><mark>{{ purposes.name }}</mark></h1>

            <div class="interview__bottom">
                <h2>CV :</h2><br>{{ purposes.cv|raw }}<br>
    
                <h2>A propos de moi :</h2><br>{{ purposes.description|raw }}<br>
                
                <h2>Contact :</h2><br>{{purposes.contact}}
            </div>
            <br>
            <span class="article__card-author">
                Offre mise en ligne par <a href="{{ path('profil', {id: purposes.users.id}) }}">{{ purposes.users.firstname }} {{ purposes.users.lastname }}</a>
            </span>
        </div>
    </div>

</section>

{% endblock %}

{% block JavaScript %}
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<script>
    function onClickBtnLike(event) {
        event.preventDefault();

        const url = this.href;
        const likeCount = this.querySelector('span.article__reaction-likeNumber');
        const icon = this.querySelector('i');

        axios.get(url).then(function (response) {
            likeCount.textContent = response.data.likes;

            if (icon.classList.contains('bxs-heart')) {
                icon.classList.replace('bxs-heart', 'bx-heart');
            } else {
                icon.classList.replace('bx-heart', 'bxs-heart');
            }
        }).catch(function (error) {
            if (error.response.status === 403) {
                window.alert("Vous ne pouvez pas aimer un article si vous n'êtes pas connecté.");
            } else {
                window.alert("Une erreur s'est produite, réessayer ultérieurement.");
            }
        });
    }
    document.querySelectorAll('a.article__reaction-like').forEach(function (link) {
        link.addEventListener('click', onClickBtnLike)
    });

    function onClickBtnSave(event) {
        event.preventDefault();

        const url = this.href;
        const saveCount = this.querySelector('span.article__reaction-saveNumber');
        const icon = this.querySelector('i');

        axios.get(url).then(function (response) {
            saveCount.textContent = response.data.saves;

            if (icon.classList.contains('bxs-bookmark')) {
                icon.classList.replace('bxs-bookmark', 'bx-bookmark');
            } else {
                icon.classList.replace('bx-bookmark', 'bxs-bookmark');
            }
        }).catch(function (error) {
            if (error.response.status === 403) {
                window.alert("Vous ne pouvez pas sauvegarder un article si vous n'êtes pas connecté.");
            } else {
                window.alert("Une erreur s'est produite, réessayer ultérieurement.");
            }
        });
    }
    document.querySelectorAll('a.article__reaction-save').forEach(function (link) {
        link.addEventListener('click', onClickBtnSave)
    });


    function openModal() {
        document.getElementById("modal").style.display = "block";
    }

    function closeModal() {
        document.getElementById("modal").style.display = "none";
    }

    let slideIndex = 1;
    showSlides(slideIndex);

    function plusSlides(n) {
        showSlides(slideIndex += n);
    }

    function currentSlide(n) {
        showSlides(slideIndex = n);
    }

    function showSlides(n) {
        let i;
        let slides = document.getElementsByClassName("modal-slide");

        if (n > slides.length) {
            slideIndex = 1
        }

        if (n < 1) {
            slideIndex = slides.length
        }

        for (i = 0; i < slides.length; i++) {
            slides[i].style.display = "none";
        }

        slides[slideIndex - 1].style.display = "flex";
    }
</script>
{% endblock %}