{% extends 'admin.html.twig' %}

{% block title %}Ajouter un partenaire • Generation Boomerang{% endblock %}

{% block content %}
    <section class="article">
        <h1 class="section__title">Ajouter un partenaire</h1>
        <h3 class="section__subtitle">C'est dans cet espace que vous allez pouvoir ajouter un nouveau partenaire.</h3>

        <div class="article__menu">
            <a href="{{ path('profils') }}" class="article__menu-back"><i class='bx bx-arrow-back' ></i> <span>retour au menu</span></a>
        </div>

        <div class="article__user-container">
            <div class="article__add">
                {{ form_start(form, {'attr' : {'class' : 'article__add-form'} }) }}

                <div class="article__form-title article__form">
                    <i class='bx bx-edit-alt' ></i>
                    {{ form_widget(form.name) }}
                </div>
                <h2> Résumé du partenaire </h2>
                <div class="article__form-content">
                    <span></span>
                    {{ form_widget(form.resume) }}
                </div>
                <h2> Parcours du partenaire </h2>
                <div class="article__form-content">
                    <span></span>
                    {{ form_widget(form.parcours) }}
                </div>
                <h2> Objectifs du partenaire </h2>
                <div class="article__form-content ">
                    <span></span>
                    {{ form_widget(form.rencontres) }}
                </div>

                <div class="article__form-video article__form">
                <i class='bx bx-link'></i>
                    {{ form_widget(form.link) }}
                </div>

                <div class="article__form-video article__form">
                <i class='bx bx-link'></i>
                    {{ form_widget(form.profil) }}
                </div>

                <div class="article__form-title article__form">
                    <i class='bx bx-photo-album' ></i>
                    {{ form_widget(form.illustration) }}
                </div>
                <h2 class="section__subtitle">Leurs réseaux sociaux:</h3>
                    <div class="article__form-title article__form">
                        <i class='bx bxl-facebook' ></i>
                        {{ form_widget(form.facebook) }}
                    </div>
                    <div class="article__form-title article__form">
                        <i class='bx bxl-twitter' ></i>
                        {{ form_widget(form.twitter) }}
                    </div>
                    <div class="article__form-title article__form">
                        <i class='bx bxl-linkedin' ></i>
                        {{ form_widget(form.linkedin) }}
                    </div>
                
                <h2 class="section__subtitle"> Lier à un ou plusieurs pôles:</h2>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole) }}
                </div>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole_1) }}
                </div>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole_2) }}
                </div>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole_3) }}
                </div>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole_4) }}
                </div>
                <div class="article__form-title article__form">
                    <i class='bx bxs-briefcase-alt-2'></i>
                    {{ form_widget(form.pole_5) }}
                </div>

                <button class="article__form-button" type="submit">Ajouter</button>

                {{ form_end(form) }}
            </div>
        </div>
    </section>
{% endblock %}

{% block JavaScript %}
    <script type="text/javascript" src="{{ asset('bundles/fosckeditor/ckeditor.js') }}" charset="utf-8"></script>
{% endblock %}

